<HTML>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- for external css from file same line as above href includes the path where file is stored -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<Title>Its abt Cryto -COins</Title>
</head>
<body>
	<div class="wrapper">
	<div class="container-fluid" style="padding:10px;margin:auto;">
	<h1 align="center">Lets Know about CryptoCoins</h1>
	<div class="col-md-1">
	</div>
	<div class="col-md-10">
	<table class="table table-hover table-bordered">
	<tr>
	<!-- <h3>Coins : jinga i["name"]  jinga i["symbol"] </h3> -->
	<th>Name</th>
	<th>Symbolics</th>
	<th>Price</th>
	<th>% change(Hr)</th>
	<th>Over 40</th>	
	<th>Rank</th>
	</tr>
	{% for i in data %}
	<tr><td>
	<h4>{{ i["name"]}}</h4>
	</td>
	<td>
	<h4>{{ i["symbol"]}}</h4>
	</td>
	<td>
	<h4>{{ i["price_usd"]}}</h4>
	</td>
	<td>
	<h4>{{ i["percent_change_1h"]}}</h4>
	</td>
	<td>
	<h4>{{ i["over40usd"]}}</h4>
	</td>
	<td>
	<h4>{{ i["rank"]}}</h4>
	</td></tr>
	{% endfor %}
	</table>
	</div>
	<div class="col-md-1">
	</div>
	</div>
	</div>
</body>
</HTML>